@*<section id="One" class="wrapper style3">*@
@*<header id="header" class="alt" style="background-color: black">
    <div class="admin">
        <a asp-area="" asp-controller="Home" asp-action="Index">Программы</a>
        <a asp-area="" asp-controller="Home" asp-action="Index">Клиенты</a>
        <a asp-area="" asp-controller="Home" asp-action="Index">Отчеты</a>
    </div>
</header>*@
    @*</section>*@
    <div style="height: 100px">

    </div>
