<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('img/slider-1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>HitFit. Be your own motivation</h1>
                    <p class="mb-5">Мы разные, но нас объединяет одно - любовь к тренировкам #hitfit.</p>
                    <p><a href="#" class="btn btn-white btn-outline-white">Записаться</a> <a href="#" class="btn btn-link btn-white">Смотреть результаты</a></p>
                </div>
            </div>
        </div>

    </div>
    <!--
          <div class="slider-item" style="background-image: url('img/slider-2.jpg');">
            <div class="container">
              <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                  <h1>Join Fitnezz Today</h1>
                  <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
                  <p><a href="#" class="btn btn-white btn-outline-white">Get Started</a> <a href="#" class="btn btn-link btn-white">Download</a></p>
                </div>
              </div>
            </div>

          </div>
    -->
</section>
<!-- END slider -->


<section class="section element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Результаты наших участниц</h2>
                    @*<span class="back-text">Результаты</span>*@
                </div>
            </div>
        </div>
    </div>

    <div class="owl-carousel centernonloop">
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">-7 кг</p>
                <h2 class="class-heading">за 5 недель</h2>
            </div>
            <img src="img/result001.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">-13 кг</p>
                <h2 class="class-heading">за 8 недель</h2>
            </div>
            <img src="img/result002.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">-12 кг</p>
                <h2 class="class-heading">за 8 недель</h2>
            </div>
            <img src="img/result003.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">-9 кг</p>
                <h2 class="class-heading">за 9 недель</h2>
            </div>
            <img src="img/result004.jpg" alt="" class="img-fluid">
        </a>
    </div>
</section> <!-- .section -->

<section class="section bg-light element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Программы</h2>
                    @*<span class="back-text-dark">Schedule</span>*@
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('img/program_1.jpg');"></div>
                    <div class="text order-1">
                        <h3>Intensive</h3>
                        <p>Отличается от стандартной программы #HitFit_Transformation сроками, нагрузками и...</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Join from $15</a></p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('img/program_2.jpg');"></div>
                    <div class="text">
                        <h3>Online</h3>
                        <p>Это полностью удаленная программа длительностью в два месяца,  которую можно совмещать...</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Join from $15</a></p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('img/program_5.jpg');"></div>
                    <div class="text order-1">
                        <h3>Smart diet</h3>
                        <p>Каждый твой день расписан по часам, меню по граммам. Если ты хочешь получить результат, то следуй...
                        </p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Join from $15</a></p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('img/program_4.jpg');"></div>
                    <div class="text">
                        <h3>Personal</h3>
                        <p>Если тебе нужен контроль, если ты любишь индивидуальный подход и личное внимание...</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Join from $15</a></p>

                    </div>

                </div>

            </div>
        </div>


    </div>
</section> <!-- .section -->

<section class="section element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Кураторы</h2>
                    @*<span class="back-text">Our Trainers</span>*@
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="img/hanna.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Анна Гарнец</h3>
                            <p class="lead">Тренер - диетолог</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="img/kseniya.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Ксения Билоус</h3>
                            <p class="lead">Тренер - диетолог</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END slider -->
        </div>
    </div>

</section> <!-- .section -->

<section class="section element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Отзывы участниц</h2>
                    @*<span class="back-text">Отзывы</span>*@
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <blockquote class="testimonial">
                    <p>&ldquo; Хочу сказать большое спасибо кураторам программы! Я приняла участие в программе где были ограниченные физические нагрузки. Меню которое высылается на неделю - очень органичное и разнообразное, составлено таким образом что ты не голодаешь, а следовательно не срываешься к холодильнику) Девочки на связи практически круглосуточно, если есть вопрос - практически сразу получаешь ответ. В поддержке и мотивации тоже нет недостатка) Своим результатом я довольна, я начала правильно питаться и регулярно выполнять физические нагрузки. После окончания программы - продолжу начатое, так как уже появились полезные привычки. Всем кто сомневается - стоит или нет, конечно ДА! &rdquo;</p>
                    <div class="d-flex author">
                        <img src="img/person_1.jpg" alt="" class="mr-4">
                        <div class="author-info">
                            <h4>Mellisa Howard</h4>
                            <p>CEO, XYZ Company</p>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="testimonial">
                    <p>&ldquo; Спасибо большое за программу. Это действительно работает. 10 дней и 2 кг в минусе, плюс научилась правильно кушать наконец-то и освоила контрастный душ. Более чем за такое короткое время. Организовует программа во всем, не только в еде. Приобрела новое качество жизни. Я очень довольна. Спасибо девочки. &rdquo;</p>
                    <div class="d-flex author">
                        <img src="img/person_2.jpg" alt="" class="mr-4">
                        <div class="author-info">
                            <h4>Mike Richardson</h4>
                            <p>CEO, XYZ Company</p>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="testimonial">
                    <p>&ldquo; Девочки, спасибо большое за программу и волшебный пинок. Я наконец-то оценила волшебство 10000 шагов и больше, всегда думала, что и так много хожу). Это была очередная иллюзия, на 3,5 кг останавливаться не собираюсь, т.к. в планах менять в целом образ жизни. Это непросто, но оно того стоит. Не люблю контроль, но здесь он был в тему и помог втянуться в то, где самой наладить все очень непросто. Спасибо, надеюсь, ещё увидимся не раз). И ещё, бегать, оказывается, интересно и не так уж страшно)). &rdquo;</p>
                    <div class="d-flex author">
                        <img src="img/person_3.jpg" alt="" class="mr-4">
                        <div class="author-info">
                            <h4>Charles White</h4>
                            <p>CEO, XYZ Company</p>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section> <!-- .section -->

<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Статьи</h2>
                    @*<span class="back-text">Our Blog</span>*@
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('img/img_2_square.jpg');"></div>
                    <div class="text">
                        <h3>Fitness Class Name Here</h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="blog d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('img/img_2_square.jpg');"></div>
                    <div class="text">
                        <h3>Fitness Class Name Here</h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section> <!-- .section -->