<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>Профиль аккаунта</p>
            <h2>Профиль</h2>
        </header>
    </div>
</section>

<div>
    <img id="profilePhoto" name ="profilePhoto"/>
</div>