<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>Войдите, используя логин или E-mail</p>
            <h2>Вход</h2>
        </header>
    </div>
</section>

<div id="main" class="container">
    <form method="post">
        @if (ViewData["ErrorMessage"] != null)
        {
            <h3 style="color: red; ">@ViewData["ErrorMessage"]</h3>
        }
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                <input autofocus type="text" name="username" id="username" value="" placeholder="Логин или e-mail" required oninvalid="this.setCustomValidity('Пожалуйста, введите логин или e-mail.')"/>
            </div>
            <div class="6u 12u$(xsmall)">
                <input type="password" name="password" id="password" value="" placeholder="Пароль" required oninvalid="this.setCustomValidity('Пожалуйста, введите пароль.')"/>
            </div>
            
            <div>
                <input class="button special small fit" type="submit" name="submit.Login" value="Вход"/>
            </div>
            <div>
                <a class="button" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
            </div>
            <div>
                <a class="button alt" asp-area="" asp-controller="Account" asp-action="Register">Забыли пароль?</a>
            </div>
            @*<div class="6u 12u$(xsmall)">
                <input type="checkbox" id="remember" name="remember" value="true">
                <label for="remember">Запомнить меня</label>
            </div>*@
        </div>
    </form>
</div>

    @*<input placeholder='Username' type='text' name="username">
                        <div class='validation'>
                            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                        </div>
                        </input>
                    </div>
                    <div class='login_fields__password'>
                        <div class='icon'>
                            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
                        </div>
                        <input placeholder='Password' type='password' name="password">
                        <div class='validation'>
                            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                        </div>
                    </div>
                    <div class='login_fields__submit'>
                        <input type='submit' value='Log In' name="submit.Login">
                        <div class='forgot'>
                            <a href='#'>Forgotten password?</a>
                        </div>
                    </div>
                </div>*@
