<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>Введите свои данные</p>
            <h2>Регистрация</h2>
        </header>
    </div>
</section>
    
<div id="main" class="container">
    <form method="post">
        @if (ViewData["ErrorMessage"] != null)
        {
            <h3 style="color: red; ">@ViewData["ErrorMessage"]</h3>
        }
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                @*<h3>Логин</h3>*@
                <input type="text" name="username" id="username" value="" placeholder="Логин" required/>
            </div>
            <div class="6u$ 12u$(xsmall)">
                @*<h3>Почта</h3>*@
                <input type="email" name="email" id="email" value="" placeholder="E-mail" required pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" oninvalid="this.setCustomValidity('Пожалуйста, введите e-mail адрес в прафильном формате.')" oninput="setCustomValidity('')"/>
            </div>
            <div class="6u 12u$(xsmall)">
                @*<h3>Пароль</h3>*@
                <input type="password" name="password" id="password" value="" placeholder="Пароль" required/>
            </div>
            <div class="6u$ 12u$(xsmall)">
                @*<h3>Повторите пароль</h3>*@
                <input type="password" name="passwordConfirm" id="passwordConfirm" value="" placeholder="Повторите пароль" required/>
            </div>
            <div class="6u 12u$(xsmall)">
                @*<h3>Имя</h3>*@
                <input type="text" name="userfirstname" id="userfirstname" value="" placeholder="Имя" required/>
            </div>
            <div class="6u$ 12u$(xsmall)">
                @*<h3>Фамилия</h3>*@
                <input type="text" name="userlastname" id="userlastname" value="" placeholder="Фамилия" required/>
            </div>
            <div class="6u 12u$(xsmall)">
                @*<h3>Номер телефона</h3>*@
                <input type="text" name="phonenumber" id="phonenumber" value="" placeholder="Номер телефона" required maxlength="10" minle pattern="\d*" oninvalid="this.setCustomValidity('Пожалуйста, введите номер телефона в формате ХХХ ХХХ ХХ ХХ.')" oninput="setCustomValidity('')"/>
            </div>
            <div>
                <input class="button special fit small" type="submit" id="register_button" name="submit.Register" value="Регистрация"/>
            </div>
        </div>

    </form>
</div>

    @*<div class="row">
                <div class="col-md-3">
                    <h2>Enter your data:</h2>
                    <div>
                        <label>Login</label>
                        <input id="username" name="username" />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" id="password" name="password" />
                    </div>
                    <div>
                        <label>Email</label>
                        <input id="email" name="email" />
                    </div>
                    <div>
                        <label>Phone Number</label>
                        <input id="phonenumber" name="phonenumber" />
                    </div>
                    <div>
                        <label>First name</label>
                        <input id="userfirstname" name="userfirstname" />
                    </div>
                    <div>
                        <label>Middle name</label>
                        <input id="usermiddlename" name="usermiddlename" />
                    </div>
                    <div>
                        <label>Last name</label>
                        <input id="userlastname" name="userlastname" />
                    </div>
                    <div>
                        <input type="submit" id="register_button" name="submit.Register" />
                    </div>
                </div>
            </div>*@