@{
    ViewData["Title"] = "Detailed info";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">
    <div class="row">
        <div class="col-md-3">
            <h2>Enter your detailed info:</h2>
            <div>
                <label>Growth</label>
                <input type="number" id="growth" name="growth" value="@(ViewBag.UserGrowth)" />
            </div>
            <div>
                <label>Weight</label>
                <input type="number" id="weight" name="weight" value="@(ViewBag.UserWeight)" />
            </div>
            <div>
            <input type="submit" id="update_button" name="submit.UpdateMeasurements" />
            </div>
        </div>
    </div>
</form>