@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />

    <title>Hit-Fit is coming...</title>
    <style>

        html {
            background: url(images/hit-fit-logo.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div>
        <p class="linear-wipe">is coming...</p>
    </div>
</body>

</html>